@charset "UTF-8";

/*------------- Parte principal -------------*/
main{
    background-color: #171717;
}
.topo{
    /*Colocando imagem de fundo e criando uma mascara*/
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('imagens/capa-sobre.jpg');
    background-position: center center;
    }
/*-------------------- Conteúdo principal --------*/
.caonteudo{
    display: flex;
    flex-wrap: wrap;
}
.article-titulo{
    max-width: 100vw;
    min-height: 30vh;
    padding: 100px;
    border-bottom: 1px solid #cc0000;

}
.article-titulo > h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 50px;
    color: white;
    padding: 20px 0;
}
.article-titulo p{
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: white;
}
.sobre{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 100vw;
    padding:100px 0;
    /*Colocando imagem de fundo e criando uma mascara*/
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url('imagens/box-background.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.box{
    max-width: 45%;
    margin: 20px;
    background-color: #171717;
    border-radius: 10px;
    box-shadow: 2px 2px 8px black;
}
.box::after{
    content: "";
    clear: both;
    display: block;
}
.box > img{
    float: left;
    max-width: 320px;
    max-height: 320px;
    margin-right: 15px;
    border-radius: 10px 0 0 10px;
}
.texto{
    padding: 10px;
}
.texto > h2{
    font-family: 'Shadows Into Light', cursive;
    font-weight: 400;
    font-size: 30px;
    color: white;
    padding: 10px 0;
}
.texto p{
    font-size: 20px;
    font-family: 'Shadows Into Light', cursive;
    font-weight: 300;
    line-height: 1.5;
    color: white;
}

@media only screen and (max-width: 768px) {
    .logo > a{
        display: block;
        font-size: 30px;
    }
    .navbar a {
        font-size: 12px;
        padding: 10px 5px;
    }
    .dropdown .dropbtn {
        font-size: 12px;  
        padding: 10px 5px;
      }
    .titulo{
        margin: 0 0 50px 10px;
    }
    .titulo > h1{
        font-size: 40px;
    }
    .article-titulo{
        padding: 100px 20px;
    
    }
    .caonteudo.{
        max-width: 425px;
    }
    .box{
        max-width: 320px;
    }
    img{
        border-radius: 10px 10px 0 0;
    }
}
@media only screen and (max-width: 425px) {
    .menu-principal{
        margin: 0px;
        padding: 0px;
    }
    .box-esquerdo img, .box-direito img{
        float: none;
        margin: 0px;
        padding: 0px;
    }
    .box{
        margin: 5px;
        margin-bottom: 50px;

    }
    .box > img{
        border-radius: 10px 10px 0 0;
    }
}
@media only screen and (max-width: 320px) {
    .box{
        max-width: 300px;
        margin-bottom: 50px;
    }
    .box > img{
        max-width: 300px;
        border-radius: 10px 10px 0 0;
    }
}